<?xml version="1.0"?>
<launch>

  

 <group ns="driver1">
<param name="robot_description" command="$(find xacro)/xacro '$(find convoy_gazebo)/urdf/KoBot.urdf.xacro'" />
  <node name="spawn_ABot" pkg="gazebo_ros" type="spawn_model" args="-urdf -model kbot_driver1 -param robot_description -x 0.0 -z 0.5" respawn="false" output="screen" />
  <node pkg="robot_state_publisher" name="state_pub_driver1" type="robot_state_publisher" />
 </group>

 <group ns="driver2">
<param name="robot_description" command="$(find xacro)/xacro '$(find convoy_gazebo)/urdf/KoBot.urdf.xacro'" />
  <node name="spawn_ABot" pkg="gazebo_ros" type="spawn_model" args="-urdf -model kbot_driver2 -param robot_description -x 1.0 -z 0.5" respawn="false" output="screen" />
  <node pkg="robot_state_publisher" name="state_pub_driver2" type="robot_state_publisher" />
 </group>

 <group ns="ai">
<param name="robot_description" command="$(find xacro)/xacro '$(find convoy_gazebo)/urdf/KoBot.urdf.xacro'" />
  <node name="spawn_ABot" pkg="gazebo_ros" type="spawn_model" args="-urdf -model kbot_ai -param robot_description -x 2.0 -z 0.5" respawn="false" output="screen" />
  <node pkg="robot_state_publisher" name="state_pub_ai" type="robot_state_publisher" />
 </group>


</launch>
